---
subject: DO | LG
---
<wrapper class="body--background">

    <img src="https://sg.funiber.org/si/PublicoPixelSeguimiento/marcar_visto/2421e75f574e5e8e7f3cc46045837d85647cdd2c17c88e43455fd1690019a66f"
        width="1px" height="1px" id="pixel" />
    <container class="skin-orange">
        <row>
            <div class="small-text-center text-center fz-11 color-dark-gray">Ver en el<a
                    href="https://emkt.funiber.org/2022/areas/lg/LG01_do.html?furriel=b990e3ae5008c2b35b4a4fe510a721a1d9e45294&kw=Envio_AreaLG_0122&mtm_campaign=e-mailing a BD FUNIBER_Envio_AreaLG_0122&mtm_medium=email&mtm_cid=Envio_AreaLG_0122"
                    target="_blank" class="color-link" id="link">
                    navegador</a>
            </div>
        </row>
        <a id="header" href="#"></a>
        <center>
            <wrapper class="border-top-1">
                <spacer size="8"></spacer>
                <row>

                    <columns large="12" class="pb-8">
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tbody>
                                <tr>
                                    <td class="td-table-responsive">
                                        <img src="https://emkt.funiber.org/images/logos/logo-funiber-es-192.png"
                                            class="float-center mb-10" alt="FUNIBER" id="logo-funiber">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </columns>
                </row>
            </wrapper>

            <div class="img--vertical">
                <div><a href="https://www.funiber.org/licenciaturas?furriel=b990e3ae5008c2b35b4a4fe510a721a1d9e45294&kw=Envio_AreaLG_0122&mtm_campaign=e-mailing a BD FUNIBER_Envio_AreaLG_0122&mtm_medium=email&mtm_cid=Envio_AreaLG_0122"
                        target="_blank" id="banner">
                        <img src="https://emkt.funiber.org/images/2022/banner-lg-0122-es.jpg" class="block"></a>
                </div>
            </div>

            <wrapper>
                <spacer size="15"></spacer>
                <row>
                    <columns large="12" class="pb-0">
                        <table>
                            <tbody>
                                <tr class="yahoo-content-padding">
                                    <td class="td-table-responsive w-50 small-w-100">
                                        <div
                                            class="fz-15 semi-bold text-center color-stone box--degrees bg-light-gray-2 mr-10 small-margin-auto">
                                            <div class="text-center">
                                                <p class="color-primary text-uppercase semi-bold text-center mb-5">
                                                    Modalidad online</p>
                                                <p class="color-black text-center mb-5">Titulación:</p>
                                                Universidad Internacional Iberoamericana de México
                                            </div>
                                        </div>
                                    </td>
                                    <td class="td-table-responsive w-50 small-w-100">
                                        <div class="fz-15 semi-bold text-center color-stone box--degrees pxy-10 bg-light-gray-2 small-margin-auto"
                                            style="padding-bottom:11px !important;">
                                            <div class="text-center">
                                                <p class="color-primary text-uppercase semi-bold text-center mb-5">
                                                    Modalidad online</p>
                                                <p
                                                    class="color-primary text-uppercase semi-bold text-center mb-5 fz-11">
                                                    + 1 Año presencial en Santander (España)</p>
                                                <p class="color-black text-center mb-5">Doble Titulación:</p>
                                                UNINI México y <br>Universidad Europea del Atlántico
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </columns>
                </row>
            </wrapper>


            <wrapper class="">
                <spacer size="16"></spacer>
                <row>
                    <columns class="v-align-middle" large="12">
                        <div class="fz-17 text-center lh-1-5 semi-bold color-gray-dark italic px-200 small-padding">
                            ¡Alcanza tus metas y postula al
                            <span class="color-primary text-uppercase">programa de becas de formación!</span>
                        </div>
                        <div class="text-center pt-15">
                            <a href="https://www.funiber.org/licenciaturas?furriel=b990e3ae5008c2b35b4a4fe510a721a1d9e45294&kw=Envio_AreaLG_0122&mtm_campaign=e-mailing a BD FUNIBER_Envio_AreaLG_0122&mtm_medium=email&mtm_cid=Envio_AreaLG_0122"
                                target="_blank" class="skin__btn fz-16 ls-2 pt-10 pb-10 semi-bold text-uppercase"
                                id="button">Descubre más</a>
                        </div>
                    </columns>
                </row>
            </wrapper>

            <wrapper class="bg-light-gray">
                <spacer size="16"></spacer>
                <div class="text-center fz-12 semi-bold text-uppercase pb-10 color-gray-dark">Doble titulación
                    universitaria</div>
                <row>
                    <columns large="12">
                        <table>
                            <tbody>
                                <tr>
                                    <td class="w-10 small-w-1"> </td>
                                    <td class="td-table-responsive">
                                        <img src="https://emkt.funiber.org/images/logos/logo-unea-es-150.png"
                                            class="text-center small-mb-10" alt="UNEATLANTICO">
                                    </td>
                                    <td class="td-table-responsive">
                                        <img src="https://emkt.funiber.org/images/logos/logo-unini-mx-v2.png"
                                            class="text-center small-mb-10" alt="UNINI MX">
                                    </td>
                                    <td class="w-10 small-w-1"> </td>
                                </tr>
                            </tbody>
                        </table>
                    </columns>
                </row>
            </wrapper>

            <spacer size="5"></spacer>

            <wrapper class="footer">
                <spacer size="16"></spacer>
                <row>
                    <columns large="12">
                        <div class="fz-12 text-center color-stone" id="footer">
                            <a href="https://www.funiber.org.do?furriel=b990e3ae5008c2b35b4a4fe510a721a1d9e45294&kw=Envio_AreaLG_0122&mtm_campaign=e-mailing a BD FUNIBER_Envio_AreaLG_0122&mtm_medium=email&mtm_cid=Envio_AreaLG_0122"
                                id="funiber" target="_blank" class="link-inherit"><span
                                    class="color-stone fz-12">www.funiber.org.do</span> </a> |
                            <a href="https://goo.gl/maps/LLcmoFMxk3mNTNYA8" class="link-inherit" style=""
                                target="_blank">
                                <span class="color-stone fz-12">Ave. 27 de Febrero Esquina Seminario No.272, 4to.Piso.
                                    Santo Domingo.</span></a> | <br>
                            <a href="tel:+18095404720" target="_blank" class="color-stone">
                                <span class="color-stone fz-12">Telf.: (809) 540-4720</span>
                            </a> |
                            <a href="mailto:republica.dominicana@funiber.org" target="_blank">
                                <span class="color-stone fz-12">republica.dominicana@funiber.org</span>
                            </a>
                        </div>
                    </columns>
                </row>
                <row>
                    <columns small="12" valign="middle" class="pb-0">
                        <div class="text-center text-uppercase fz-14 semi-bold color-stone">Síguenos en:</div>
                        <p class="block-social text-center">
                            <span class="img-group" style="display: inline-block;">
                                <img class="img-social float-right"
                                    src="https://emkt.funiber.org/images/assets/icon-in-gray.png" alt="">
                                <img class="img-social float-right"
                                    src="https://emkt.funiber.org/images/assets/icon-yt-gray.png" alt="">
                                <img class="img-social float-right"
                                    src="https://emkt.funiber.org/images/assets/icon-instagram-gray.png" alt="">
                                <img class="img-social float-right"
                                    src="https://emkt.funiber.org/images/assets/icon-twt-gray.png" alt="">
                                <img class="img-social last float-right"
                                    src="https://emkt.funiber.org/images/assets/icon-fb-gray.png" alt="">
                            </span>
                        </p>
                    </columns>
                </row>
            </wrapper>

        </center>

        <!--Emailing -->
        <center>
            <spacer size="5"></spacer>
            <wrapper class="border-top-1">
                <spacer size="5"></spacer>
                <row>
                    <columns class="">
                        <div class="text-center color-dark-gray fz-11"><a href="https://www.funiber.org/aviso-legal"
                                target="_blank" class="color-link">Aviso Legal</a> | Para anular la suscripción escribe
                            a <a href="mailto:envios@funiber.org?subject=Baja&amp;body=Quiero%20cancelar%20mi%20suscripci%C3%B3n%20y%20no%20recibir%20las%20promociones%20de%20FUNIBER"
                                class="color-link">envios@funiber.org</a> o haz clic
                            <a href="mailto:envios@funiber.org?subject=Baja&amp;body=Quiero%20cancelar%20mi%20suscripci%C3%B3n%20y%20no%20recibir%20las%20promociones%20de%20FUNIBER"
                                target="_blank" class="color-link"> aquí</a>.
                        </div>
                    </columns>
                </row>
            </wrapper>

        </center>
        <!--Fin Emailing -->
    </container>
</wrapper>